
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Empresa</th>
            <th>Correo</th>
            <th>Usuario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Empresa</td>
                <td>@item.Correo</td>
                <td>@item.IdUsuario</td>
                <td>
                    <a href="/Curso/Detail?Id=@item.Id">Ver</a> |
                    <a href="/Curso/Edit?Id=@item.Id">Editar</a> |
                    <a href="/Curso/Delete?Id=@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>